<div class="container mx-auto flex ease-in-out transition-all duration-300 z-30 transform md:translate-x-96">
    <h2 class="font-bold absolute pl-2 mb-2">{{category?.Name}}</h2>
    <div class="bg-white flex flex-row overflow-y-visible mt-8" style="width: 100%;">
       <app-todo-container [category]="category" headerText="Todo" [todoList]="todoList"></app-todo-container>
       <app-todo-container [category]="category" headerText="In Progress" [todoList]="inProgressList"></app-todo-container>
       <app-todo-container [category]="category" headerText="Completed" [todoList]="completedList"></app-todo-container>

    </div>
</div>