/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
 }


.-translate-x-52-5{
    --tw-translate-x: -12.5rem
}

button {
    border: none !important;
    outline: none !important;
  }